<form [formGroup]="heroForm" >
      <div class="form-group">

        <!--<label for="gameName">Game Name</label>

        <input type="text" id="gameName" class="form-control"
               formControlName="gameName" required >-->

        <!--<div *ngIf="heroForm.controls.gameName.errors.required">
            Game Name is required.
        </div>-->
        <!--<div *ngIf="heroForm.gameName.errors.minLength">
            Game name must be more than 3 characters.
        </div>-->
      </div>


      <button type="submit" class="btn btn-default"
             [disabled]="heroForm">Submit</button>
      <button type="button" class="btn btn-default"
             (click)="formDir.resetForm({})">Reset</button>
    </form>

<ul class="list-unstyled">
  <li>
    <button class="btn btn-danger btn-md" (click)="navHome()">Return Home</button>
  </li>
</ul>