<p>
  game-room works!
</p>
<!--grid 9/3 game and playerlist-->
<!--underneath, chatroom-->
<!--on small window, stack game/chat/playerlist-->

  <!--on main body, is user is owner, and game not started, display button: START GAME, otherwise, display starting message + game story-->
<div class="container">
  <div class="row">
    <div class="col-sm-9">
      <!--gamebody and chat in single stacked column-->
      <div class="row">
        <div class="col-12">Game</div>
        <div class="col-12">Chat</div>
      </div>
    </div>
    <div class="col-sm-3">Playerlist</div>
  </div>
</div>
<span class="red-text">{{status}}</span> 