<p>
  game-room works!
</p>
<!--grid 9/3 game and playerlist-->
<!--underneath, chatroom-->
<!--on small window, stack game/chat/playerlist-->

  <!--on main body, is user is owner, and game not started, display button: START GAME, otherwise, display starting message + game story-->
<div class="container">
  <div class="row">
    <div class="col-sm-9">
      <!--gamebody and chat in single stacked column-->
      <div class="row">
        <div class="col-12">
          <!--If Owner and Round 0, display StartGame-->
          <!--If round zero, and not owner, display: 'Waiting for game to start'-->
          <!--If Round > 0 display StoryThusFar-->

          <div>StoryThusFar</div>
          <!--IfRound > 0 and Odd, and gameOver = False-->
          <div>SubmitIdea</div>
          <!--IfRound > 0 and Even, and gameOver = False-->
          <div>SubmitVote</div>
          <!--If Game Over-->
          <div>GameOver</div>
        </div>
        <div class="col-12">Chat
          <form (ngSubmit)="submitChatMessage()" >
            <div class="form-group">
              <input type="text" class="form-control" id="text" [(ngModel)]="chatInput" name="text" maxlength="50" required>
            </div>
          <button type="submit" class="btn btn-success">Submit</button>
          </form>
          <ul>
            <li class="text" *ngFor="let message of chatMessages">
              {{message.username}} - {{message.message}}
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-3">Playerlist</div>
  </div>
</div>
<span class="red-text">{{status}}</span> 