.centerImg{
    text-align: center;
}
.addMargin{
    margin: 10px;
}
.imageResize{
    max-width:100%; 
    height:auto;
}
.chatRoom{
    overflow-y:scroll; 
    height:200px;
}
.MinHeight200{
    min-height: 200px;
}
.smallFont{
    font-size:xx-small;
}
.largeFont{
    font-size: large;
}
.boldFont{
    font-weight: bold;
}
/*[ngClass]="{'smallFont': player.username.length > 8 }"*/