<!-- Exact copy from earlier app.component.html -->
<!-- As a heading -->
<nav class="navbar navbar-light bg-faded  navbar-toggleable-md">
  <h1 class="navbar-brand navbar-header pull-left">{{title}}</h1>
  <div class="navbar-header pull-right" id="navbarNav">
    <ul class="nav navbar-nav">
      <li class="nav-item">
        <a class="nav-link pointer"  (click)="navHome()">Home</a>
      </li>
      <li *ngIf="!user || user.username ==''" class="nav-item" >
        <a class="nav-link pointer"  (click)="navLogon()">Logon</a>
      </li>
      <li *ngIf="user != null && user.username != ''" class="nav-item" >
        <a class="nav-link pointer"  (click)="logout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>


<p *ngIf="user != null && user.username != ''">
  <i>Welcome, {{user.username}}</i>
<p>



<!-- 
Copyright 2017 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->