<!-- Exact copy from earlier app.component.html -->
<!-- As a heading -->
<nav class="navbar navbar-light bg-faded  navbar-toggleable-md">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <h1 class="navbar-brand mb-0">{{title}}</h1>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li *ngIf="user" class="nav-item">
        <a class="nav-link pointer"  (click)="navHome()">Home</a>
      </li>
      <li *ngIf="!user" class="nav-item" >
        <a class="nav-link pointer"  (click)="navLogon()">Logon</a>
      </li>
      <li *ngIf="user" class="nav-item" >
        <a class="nav-link pointer"  (click)="logout()">Logout</a>
      </li>

    </ul>
  </div>
       <!--<a routerLink="logon" routerLinkActive="active">Logon</a>
       <a routerLink="home" routerLinkActive="active">Home</a>-->
</nav>
<p *ngIf="user">
  <i>Welcome, {{user.username}}</i>
<p>



<!-- 
Copyright 2017 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->