<div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                        <form class="form-signin">
                                <h2 class="form-signin-heading">Please sign in</h2>
                                <label for="inputEmail" class="sr-only">Email address</label>
                                <input type="email" [(ngModel)]="email" name="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
                                <label for="inputPassword" class="sr-only">Password</label>
                                <input type="password" [(ngModel)]="password" name="inputPassword" class="form-control" placeholder="Password" required="">
                                <button class="btn btn-md btn-primary" type="submit" (click)="login()" >Sign in</button>
                                
                        </form>
                        <br />

                        <div class=" pad-bottom">
                                <div class="row">
                                        <div class="col-sm-4">
                                                <a class="google-signin"  (click)="googleLogin()">
                                                </a> 
                                        </div>
                                        <div class="col-sm-4 marginTopAdjust">
                                                <button class="btn btn-md btn-primary" (click)="guestLogin()">Sign In as a Guest</button> 
                                        </div>
                                        <div class="col-sm-4 marginTopAdjust">
                                                <button class="btn btn-md btn-primary" (click)="signUp()">Sign Up</button> 
                                        </div>
                                </div>
                                
                                <br />
                                <span class="red-text">{{status}}</span> 
                         </div> 
                </div>
                <div class="col-md-1"></div>
        </div>