.google-signin {
   background-image: url('../../../assets/btn_google_signin_dark_normal_web.png');
   display: inline-block;
   width: 191px;
   height: 46px;
   border: 0px;
}
.google-signin:hover {
   background-image: url('../../../assets/btn_google_signin_dark_focus_web.png');
   cursor: pointer;
}
.google-signin:active {
   background-image: url('../../../assets/btn_google_signin_dark_pressed_web.png');
}
.google-signin:disabled {
   background-image: url('../../../assets/btn_google_signin_dark_disabled_web.png');
}

.marginTopAdjust
{
    margin-top: 5px;
}