
<p *ngIf="gameList && gameList.length == 0">
  No Games Found
</p>
<p *ngIf="gameList == null">
  Loading Games
</p>
<div *ngIf="gameList && gameList.length > 0" >
  <p>Games Found: {{gameList.length}} </p> 
  <table class="table table-striped">
  <thead>
    <tr>
      <th>Game Name</th>
      <th>Private</th>
      <th>Players</th>
      <th>Starting Message</th>
      <th> </th>
    </tr>
  </thead>
  <tbody>
    <!--<li *ngFor="let hero of heroes">
      {{ hero }}
    </li>-->
    <tr *ngFor="let game of gameList">
      <td>{{game.gameName}}</td>
      <td>{{game.isPrivate}}</td>
      <td>{{(game.players)?.length}} / {{game.maxPlayers}}</td>
      <td>{{game.startingMessage}}</td>
      <td><button class="btn btn-success btn-md" (click)="joinGame(game.$key)">Join</button></td>
    </tr>
  </tbody>
</table>
</div>


<ul class="list-unstyled">
  <!--<li>
    <button class="btn btn-primary btn-md" (click)="consoleTest()">ConsoleTest</button>
  </li>
  <br />
  <br />-->
  <li>
    <button class="btn btn-danger btn-md" (click)="navHome()">Return Home</button>
  </li>
</ul>