
<p *ngIf="gameList && gameList.length == 0">
  No Games Found
</p>
<p *ngIf="gameList == null">
  Loading Games
</p>
<div *ngIf="gameList && gameList.length > 0" >
  <p>Games Found: {{gameList.length}} </p> 
  <table class="table table-striped">
  <thead>
    <tr>
      <th>Game Name</th>
      <th>Round - Players</th>
      <!--<th>Players</th>-->
      <th>Starting Message</th>
      <th> </th>
    </tr>
  </thead>
  <tbody>
    <!--<li *ngFor="let hero of heroes">
      {{ hero }}
    </li>-->
    <tr *ngFor="let game of gameList">
      <ng-template [ngIf]="game.isGameOver == false && game.players != null && game.players.length > 0 ">
        <td>{{game.gameName}}</td>
        <td>({{game.currentRound}}/{{game.totalRounds}}) - ({{(game.players)?.length}}/{{game.maxPlayers}})</td>
        <!--<td>{{(game.players)?.length}} / {{game.maxPlayers}}</td>-->
        <td>{{game.storyThusFar.substring(0, 15)+'...'}}</td>
        <td><button class="btn btn-success btn-md" (click)="joinGame(game.$key)">Join</button></td>
      </ng-template>
    </tr>
  </tbody>
</table>
</div>


<ul class="list-unstyled">
  <!--<li>
    <button class="btn btn-primary btn-md" (click)="consoleTest()">ConsoleTest</button>
  </li>
  <br />
  <br />-->
  <li>
    <button class="btn btn-danger btn-md" (click)="navHome()">Return Home</button>
  </li>
</ul>
<span class="red-text">{{status}}</span> 